{% extends ':application:base.html.twig' %}
{% block main %}
    <table>
        <tr>
            <th>class</th>
            <th>a</th>
            <th>button</th>
        </tr>
        <tr>
            <td>.previous</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</a>
            </td>
            <td>
                <button><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>poprzednia</button>
            </td>
        </tr>
        <tr>
            <td>.next</td>
            <td>
                <a href="http://onet.pl">następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>następna<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.previous-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.next-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.save</td>
            <td>
                <a href="http://onet.pl">zapisz<i class="fa fa-floppy-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>zapisz<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.save-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.edit</td>
            <td>
                <a href="http://onet.pl">edytuj<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>edytuj<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.edit-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.info</td>
            <td>
                <a href="http://onet.pl">szczegóły<i class="fa fa-info" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>szczegóły<i class="fa fa-info" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.info-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-info" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-info" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.remove</td>
            <td>
                <a href="http://onet.pl">usuń<i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>usuń<i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.remove-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.add</td>
            <td>
                <a href="http://onet.pl">dodaj<i class="fa fa-plus" aria-hidden="true"></i></a>
            </td>
            <td>
                <button>dodaj<i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <td>.add-square</td>
            <td>
                <a href="http://onet.pl"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </td>
            <td>
                <button><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>
{% endblock %}