<tr class="present">
    <td>{{ orderFault.name }}</td>
    <td>
        <button class="btn-square btn-remove" data-id="{{ orderFault.id }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>