<tr class="present">
    <td>{{ orderSymptom.name }}</td>
    <td>
        <button class="btn-square btn-remove" data-id="{{ orderSymptom.id }}">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </td>
</tr>