{% for orderStatus in orderHeader.statuses %}
    {% if orderStatus.removedAt is null and orderStatus.deletedAt is null %}
        <button style="border-color: {{ orderStatus.hexColor }};">{{ orderStatus.name }}</button>
    {% endif %}
{% endfor %}