<table class="inputable status">
    <tr class="tr-th">
        <th>Nazwa</th>
        <th colspan="2"></th>
    </tr>
    {% for status in statuses %}
        <tr>
            <td>
                <input type="text" maxlength="30" value="{{ status.name }}">
            </td>
            <td>
                <button class="btn-square btn-remove" data-id="{{ status.id }}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button class="btn-square btn-edit" data-id="{{ status.id }}">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td>
            <input maxlength="30" type="text">
        </td>
        <td>
            <button class="btn-square btn-add" data-type="good">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </td>
        <td></td>
    </tr>
</table>