<button id="btn-generate-test-data" class="btn-system">generuj dane testowe</button>
<p class="system-info">Spowoduje to usunięcie wszystkich danych i zastąpienie ich dużym zbiorem losowo wygenerowanych danych testowych</p>