<header>
    <i class="fa fa-times" aria-hidden="true"></i>
</header>
<main>
    {% for category in categories %}
        <li></li>
    {% endfor %}
</main>
<footer>
    <button data-order-header-id="1" class="btn-save">zapisz<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
</footer>