<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Warsztatowiec{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/buttons.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <header>{% block header %}{% endblock %}</header>
    <div id="customerinfo">{% block customerinfo %}{% endblock %}</div>
    <nav>{% block nav %}{% endblock %}</nav>
    <div id="navbar">{% block navbar %}{% endblock %}</div>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
{% endblock %}
{% block javascripts %}
    <script src="https://use.fontawesome.com/7bc874a398.js"></script>
{% endblock %}
</body>
</html>
