{% extends ':homepage:base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <header>
            <img src="{{ asset('assets/img/logo.png') }}">
            <div id="menu-square">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <ul>
                <li>funkcje</li>
                <li>cennik</li>
                <li>polecają</li>
                <li>logowanie</li>
                <li>rejestracja</li>
            </ul>
        </header>
        <main>
            <section>
                <h1>Wygodna obsługa warsztatu</h1>
                <p>
                    <strong>Warsztatowiec</strong> to wszystko, czego będziesz potrzebował do sprawnego zarządzania warsztatem samochodwym, blacharskim i lakierniczym - od przyjęcia zlecenia do jego rozliczenia. Wszystko w jednym miejscu. Zaoszczędzisz czas - swój i swoich klientów.
                </p>
                <button>wypróbuj demo</button>
            </section>
            <section>
                <p>Wersja demo umożliwia zarządzanie bazą klientów, pojazdów, zleceń serwisowych, towarów i usług; edycję jednostek, statusów zleceń, kategorii towarów oraz edycję listy pracowników. Pozwala to na pełną obsługę zleceń. W przyszłości zostaną dodane moduły komunikacji z klientami za pomocą SMS i poczty e-mail. To, jak szybko uda się wprowadzić nowe funkcjonalności, zależy także od Ciebie. Po zalogowaniu i przetestowaniu programu <strong>wpisz swoje uwagi</strong>. Chcemy zbudować aplikację szytą na miarę - dokładnie taką, jakiej oczekują od nas mechanicy!
                </p>
            </section>
        </main>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'assets/js/homepage/index.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}