.info-table td:first-child {
    width: 20%;
}
#checkbox-priority {
    width: 18px;
    height: 18px;
}
div.form-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#input-paid {
    margin-right: 2px;
}