.info-table td:first-child {
    width: 20%;
}
#checkbox-priority {
    width: 18px;
    height: 18px;
}
#checkbox-priority:hover {
    cursor: pointer;
}
div.form-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#input-paid {
    margin-right: 2px;
    text-align: center;
    background-color: #fff;
}
.date-or-no {
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #f4f4f4;
    color: #333;
    font: 12px 'Ubuntu', sans-serif;
}
#input-paid.input-disabled {
    border: 1px solid #aaa;
    background-color: #ddd;
    cursor: pointer;
}
#paid-buttons {
    display: none;
}
#paid-buttons button {
    margin: 0 3px 0 3px;
}
#paid-errors {
    color: red;
    font: 12px 'Ubuntu', sans-serif;
}
.service-header {
    border-top: 20px solid #fefefe;
}

@media screen and (min-width: 1200px)
{
    .date-or-no {
        font-size: 15px;
    }
    #paid-errors {
        font-size: 15px;
    }
}