<div>
    <span>Warsztatowiec.pl 2017</span>
    <span>Kamil Polikowski</span>
    <span><strong>tel.</strong> 721-470-723</span>
    <span><strong>e-mail:</strong> kontakt@warsztatowiec.pl</span>
</div>