<ul>
    {% for topMenu in mainMenu %}
        <li
                {% if topMenu.tab == tab %}
                    class="tabActive"
                {% endif %}
        >
            <a href="{{ path(topMenu.route) }}">{{ topMenu.name }}</a>
            {% if topMenu.submenu is defined and topMenu.submenu is not empty %}
                <ul>
                    {% for submenu in topMenu.submenu %}
                        <li>
                            <a href="{{ path(submenu.route) }}">{{ submenu.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>