.btn-square {
    width: 28px;
    height: 28px;
}
.btn-square i {
    margin: 0 !important;
    width: 14px;
    height: 14px;
    text-align: center;
    vertical-align: middle;
}
a[class*='btn-'] {
    display: inline;
}
[class*='btn-']{
    font: 13px "Ubuntu", sans-serif;
    outline: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    padding: 5px;
    white-space: nowrap;
}
[class*='btn-']:hover {
    cursor: pointer;
    filter: brightness(120%);
}
[class*='btn-']::-moz-focus-inner {
    border: 0;
}
.btn-previous i {
    margin-right: 4px;
}
.btn-next i, .btn-save i, .btn-edit i, .btn-info i, .btn-remove i, .btn-add i, .btn-choose i {
    margin-left: 4px;
}
.btn-previous, .btn-next, .btn-info {
    background-color: #ff5a00;
}
.btn-save, .btn-add {
    background-color: #006e00;
}
.btn-edit {
    background-color: #dd9600;
}
.btn-remove {
    background-color: #833c00;
}
.btn-system {
    background-color: #3485ff;
}
.btn-disabled {
    background-color: #ddd;
    color: #888;
}
.btn-choose {
    background-color: #8e54ff;
}
.btn-disabled:hover {
    filter: none;
    cursor: not-allowed;
}
.btn-success {
    filter: brightness(140%);
}


.customer-btn-filter-system, .customer-btn-filter-custom {
    font: 11px 'Ubuntu', sans-serif;
    border: 1px solid #aaa;
    background-color: #fff;
    color: #333;
    padding: 3px;
}
.customer-btn-filter-system:hover,
.customer-btn-filter-system.active {
    background-color: #e2c72c;
    cursor: pointer;
    color: #fff;
    border: none;
    filter: none;
}
.customer-btn-filter-custom:hover,
.customer-btn-filter-custom.active
{
    background-color: #49a800;
    cursor: pointer;
    color: #fff;
    border: none;
    filter: none;
}
@media screen and (min-width: 1200px)
{
    [class*='btn-'] {
        font-size: 15px;
        padding: 7px;
    }
    .btn-square {
        width: 30px;
        height: 30px;
    }
    .btn-square i {
        width: 16px;
        height: 16px;
    }
}