section.footer {

    bottom: 0;
}
footer.section-inner div {
    display: flex;
    flex-direction: column;
    color: #fff;
    font: 14px "Ubuntu", sans-serif;
    margin: 1vw;
}
footer.section-inner div span:nth-child(1) {
    font-weight: bold;
}
footer.section-inner div span:nth-child(2) {
    margin-top: 5px;
}
footer.section-inner div span:nth-child(3) {
    margin-top: 10px;
}
footer.section-inner div span:nth-child(4) {
    margin-top: 2px;
}
