header {
    height: 50px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header a {
    display: flex;
    height: 70%;
    align-self: center;
}
header a img {
    height: 100%;
    object-fit: contain;
    object-position: center;
    align-self: center;
}
header > div {
    height: 100%;
    width: 100%;
    margin: 0 15px 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
}
header > div:hover {
    cursor: pointer;
}
header > div div:first-child {
    color: #ff5a00;
    font: bold 16px "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
header > div div:last-child {
    display: flex;
    flex-direction: column;
    height: 35px;
    align-self: center;
}
header > div div:last-child span {
    text-align: right;
}
header > div div:last-child span:first-child {
    font: bold 15px "Ubuntu", sans-serif;
    color: #ff5a00;
}
header > div div:last-child span:last-child {
    font: 13px "Ubuntu", sans-serif;
    color: #fff;
}
.a-logout {
    display: flex;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
    color: #fff;
    justify-content: center;
    font-size: 30px;
}
.a-logout:hover {
    color: #ff5a00;
}
.a-logout i {
    display: block;
    align-self: center;
}