header.section-inner {
    height: 50px;
    padding: 0;;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header.section-inner a {
    display: flex;
    height: 100%;
    align-self: center;
}
header.section-inner a img {
    height: 60%;
    object-fit: contain;
    object-position: center;
    align-self: center;
}
header.section-inner a:hover {
    filter: brightness(125%);
}
header.section-inner > div {
    height: 100%;
    width: 100%;
    margin: 0 15px 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    color: #fff;
}
header.section-inner > div:hover {
    cursor: pointer;
}
header.section-inner > div div:first-child {
    color: #fff;
    font:  18px "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    align-self: center;
    height: 60%;
}
header.section-inner > div div:last-child {
    display: flex;
    flex-direction: column;
    height: 30px;
    align-self: center;
    justify-content: space-between;
}
header.section-inner > div div:last-child span {
    text-align: right;
}
header.section-inner > div div:last-child span:first-child {
    font: bold 15px "Ubuntu", sans-serif;
    color: #ff5a00;
}
header.section-inner > div div:last-child span:last-child {
    font: 13px "Ubuntu", sans-serif;
    color: #fff;
}
.a-logout {
    display: flex;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
    color: #fff;
    justify-content: center;
    font-size: 30px;
}
.a-logout:hover {
    color: #ff5a00;
}
.a-logout i {
    display: block;
    align-self: center;
}