#div-header-settings {
    display: flex;
    flex-direction: row;
}
#div-header-settings-menu {
    display: flex;
    padding: 1vw;
}
#div-header-settings-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 16px 'Ubuntu', sans-serif;
    color: #aaa;
}
#div-header-settings-menu ul li {
    padding: 4px;
    white-space: nowrap;
}
#div-header-settings-menu ul li:hover {
    color: #fff;
    cursor: pointer;
}
#div-header-settings-menu ul li.active {
    color: #fff;
}
#div-header-settings-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1vw 1vw 1vw 4vw;
    color: #fff;
    width: 100%;
}
#div-header-settings-content > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}
#div-header-settings-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#div-header-settings-content form label:first-child {
    margin: 0 0 1px 0;
}
#div-header-settings-content form label {
    font: bold 14px 'Ubuntu', sans-serif;
    margin: 12px 0 1px 0;
}
#div-header-settings-content form input {
    border: 1px solid #aaa;
    font: 14px 'Arial', sans-serif;
    padding: 4px;
    color: #333;
}
#div-header-settings-content form button {
    margin-top: 12px;
}
#div-header-settings-content form select {
    border: 1px solid #000;
    background-color: #fff;
    height: 26px;
}
#div-header-settings-content form select option {
    background-color: #fff;
    font: 14px 'Ubuntu', sans-serif;
    color: #333;
}
#table-workshops {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    color: #ddd;
}
#table-workshops th {
    border: 1px solid #ddd;
    font: bold 16px 'Ubuntu', sans-serif;
    padding: 5px;
    color: #ddd;
}
#table-workshops td {
    border: 1px solid #ddd;
    font: 14px 'Courier New', Monospace;
    padding: 5px;
    color: #ddd;
    height: 30px;
}
#table-workshops td .error {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
}
#table-workshops td:not(:first-child) {
    text-align: center;
}
#div-header-settings-content .inputable {
    border: none;
    border-collapse: collapse;
    margin-right: 4vw;
}
#div-header-settings-content .inputable th {
    font: bold 14px 'Ubuntu', sans-serif;
    color: #fff;
}
#div-header-settings-content .inputable td {
    box-sizing: border-box;
    padding: 4px;
    text-align: center;
}
#div-header-settings-content .inputable input {
    width: 100%;
    height: 100%;
    padding: 4px;
    font: 13px 'Arial', sans-serif;
    color: #333;
    box-sizing: border-box;
}
#div-header-settings-content .inputable td:nth-child(1) input {
    text-align: right;
    width: 200px;
}
#div-header-settings-content .inputable.measure td:nth-child(1) input {
    text-align: right;
    width: 120px;
}
#div-header-settings-content .inputable td:nth-child(2) input {
    text-align: left;
    width: 60px;
}
#div-header-settings-content .inputable .header {
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
#div-header-settings-content .inputable .tr-th th {
    padding-top: 10px;
}
#div-header-settings-content .inputable.status input[type=color] {
    height: 30px;
    width: 32px;
    padding: 1px;
}
#div-header-settings-content .inputable tr.selected input {
    background-color: #fce8ad;
    border: 1px solid #333;
}
#div-header-settings-content p.system-info {
    color: #fff;
    font: 14px 'Ubuntu', sans-serif;
    width: 50%;
}