main .inputable {
    border-collapse: collapse;
    border: none;
}
main .inputable th {
    font: bold 12px 'Ubuntu', sans-serif;
    color: #333;
    padding: 3px;
}
main .inputable td {
    padding: 3px;
    text-align: center;
}
main .inputable input {
    font: 13px 'Arial', sans-serif;
    padding: 3px;
    text-align: right;
    color: #333;
    border: 1px solid #aaa;
    background-color: #fff;
}
main .inputable select {
    font: 13px 'Ubuntu', sans-serif;
    padding: 3px;
    color: #333;
    border: 1px solid #aaa;
    background-color: #fff;
}

@media screen and (min-width: 1200px)
{
    main .inputable th {
        font-size: 14px;
    }
    main .inputable td {
        padding: 4px;
    }
    main .inputable input {
        font-size: 14px;
        padding: 6px;
        border: 1px solid #aaa;
    }
    main .inputable select {
        font-size: 14px;
        padding: 5px;
    }
}
main .inputable .input-left {
    text-align: left;
}
main .inputable .input-right {
    text-align: right;
}
main .inputable .input-center {
    text-align: center;
}