html, body {
    padding: 0;
    margin: 0;
}
*::-moz-focus-inner {
    border: none;
}
a, div, img {
    outline: none;
}
a {
    text-decoration: none;
}
#wrapper {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
section {
    width: 100%;
    margin: 0;
    padding: 0;
}
section.header {
    background-color: #333;
}
section.header:nth-child(1):hover {
    background-color: #414141;
}
section.header:nth-child(2) {
    display: none;
    height: 100vh;
    background-color: #333;
}
section.main {
    background-color: #fefefe;
}
section.footer {
    background-color: #3485ff;
}
.section-inner {
    width: 95%;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto 0 auto;
}
main {
    min-height: 600px;
    padding-bottom: 100px;
}
.error {
    font: 13px 'Ubuntu', sans-serif;
    color: red;
    margin-top: 3px;
}
.company-info {
    font: 14px 'Ubuntu', sans-serif;
    color: #3485ff;
}
.h-enum {
    font: 13px 'Ubuntu', sans-serif;
    color: #666;
    margin: 12px 0 5px 0;
}

@media screen and (min-width: 1200px)
{
    .h-enum {
        font-size: 15px;
        margin: 20px 0 10px 0;
    }
}