.main-form {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 15px;
}
.main-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-form form label {
    font: bold 12px 'Ubuntu', sans-serif;
    color: #333;
    margin-bottom: 1px;
}
.main-form form label:not(:first-child)
{
    margin-top: 12px;
}
.main-form form input, .main-form form textarea, .main-form form select {
    padding: 3px;
    font: 12px 'Ubuntu', sans-serif;
    color: #333;
    border: 1px solid #aaa;
    background-color: #fff;
}
.main-form form select {
    height: 22px;
}
.main-form form textarea {
    resize: vertical;
    height: 60px;
}
.main-form form input + ul {
    list-style-type: none;
    padding: 0;
    margin: 1px 0 0 0;
    color: red;
    font: 12px 'Ubuntu', sans-serif;
}
.main-form form button {
    margin-top: 12px;
}

@media screen and (min-width: 1200px) {
    .main-form form label {
        font-size: 14px;
    }
    .main-form form input {
        font-size: 14px;
        padding: 4px;
    }
    .main-form form textarea {
        padding: 4px;
        font-size: 14px;
        height: 80px;
    }
    .main-form form input + ul {
        font-size: 14px;
    }
    .main-form form select {
        height: 26px;
        font-size: 14px;
    }
}