.main-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    width: 100%;
}
.main-form .form-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 15px;
}
.main-form .form-part .div-slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.main-form label {
    font: bold 12px 'Ubuntu', sans-serif;
    color: #333;
    margin-bottom: 1px;
}
.main-form label:not(:first-child)
{
    margin-top: 12px;
}
.main-form input, .main-form textarea, .main-form select {
    padding: 3px;
    font: 12px 'Arial', sans-serif;
    color: #333;
    border: 1px solid #aaa;
    background-color: #fff;
}
.main-form select {
    height: 22px;
}
.main-form select[multiple=multiple] {
    height: 100px;
}
.main-form textarea {
    resize: vertical;
    height: 60px;
}
.main-form input + ul, .main-form select + ul, .main-form textarea + ul, .main-form .div-form-widget + ul {
    list-style-type: none;
    padding: 0;
    margin: 1px 0 0 0;
    color: red;
    font: 12px 'Ubuntu', sans-serif;
}
.main-form input + ul + ul, .main-form select + ul + ul, .main-form textarea + ul + ul {
    list-style-type: none;
    padding: 0;
    margin: 1px 0 0 0;
    color: red;
    font: 12px 'Ubuntu', sans-serif;
}
.main-form button {
    margin-top: 12px;
}
.main-form .form-part .div-form-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40vw;
}
.main-form .div-form-labels button {
    margin: 3px 5px 0 0;
    color: #aaa;
}
.main-form .div-form-labels button:hover {
    color: #fff;
}
.main-form .div-form-labels button.active {
    color: #fff;
}
.main-form .div-form-labels .input-label-add {
    margin: 3px 5px 0 0;
    font: 11px 'Ubuntu', sans-serif;
    border: 1px solid #49a800;
    background-color: #fff;
    color: #333;
    padding: 3px;
    border-radius: 2px;
    box-sizing: border-box;
}
.main-form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-form input.trade {
    width: 60px;
    text-align: center;
}
.main-form input.trade:disabled, .main-form input.trade:read-only {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #333;
}
.main-form .td-left {
    text-align: left;
}
.main-form .td-center {
    text-align: center;
}
.main-form .td-right {
    text-align: right;
}
.main-form .input-center {
    text-align: center;
}

.main-form .form-inputable {
    display: flex;
    flex-direction: column;
}
.main-form .form-inputable .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-form .form-inputable .add .selectable {
    display: flex;
    flex-direction: column;
}
.main-form .form-inputable .add .selectable input {
    min-width: 500px;
}
.main-form .form-inputable .item input {
    min-width: 500px;
}
.main-form .form-inputable .item {
    margin: 0 0 6px 0;
}
.main-form .form-inputable button {
    margin: 0 0 0 6px;
    align-self: flex-start;
}
.main-form .last-prices label {
    display: block;
    margin: 12px 0 0 0;
}
.main-form .last-prices .content {
    display: flex;
    flex-direction: row;
}
.main-form .last-prices .content a {
    display: block;
    margin: 3px;
    color: #666;
    font: 15px "Times New Roman", Monospace;
}
.main-form .last-prices .content a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1200px) {
    .main-form label {
        font-size: 14px;
    }
    .main-form input {
        font-size: 14px;
        padding: 4px;
    }
    .main-form textarea {
        padding: 4px;
        font-size: 14px;
        height: 80px;
    }
    .main-form input + ul {
        font-size: 14px;
    }
    .main-form select + ul {
        font-size: 14px;
    }
    .main-form textarea + ul {
        font-size: 14px;
    }
    .main-form select {
        height: 26px;
        font-size: 14px;
    }
    .main-form .div-form-labels .input-label-add {
        font-size: 15px;
        padding: 7px;
    }
    .main-form .last-prices .content a {
        font-size: 17px;
    }
    .main-form input + ul + ul, .main-form select + ul + ul, .main-form textarea + ul + ul {
        font-size: 15px;
    }
}