.show-box {
    width: 100%;
    margin: 0 0 15px 0;
}
.show-box h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0 0 10px 10px;
}
.show-box h1 label {
    font: bold 18px 'Times New Roman', sans-serif;
    color: #333;
    cursor: pointer;
}
.show-box h1 a, .show-box h1 button {
    margin: 0 5px;
}
.show-box section {
    width: 100%;
}
/* INFO-TABLE */
.show-box section .info-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
.show-box section .info-table td:first-child {
    background-color: #f4f4f4;
    text-align: right;
    font: bold 12px 'Ubuntu', sans-serif;
    color: #555;
    padding: 5px;
}
.show-box section .info-table td:last-child {
    text-align: left;
    font: 12px 'Courier New', Monospace;
    color: #333;
    padding: 5px;
}
.show-box section .info-table tr.footer td {
    text-align: center;
    height: 35px;
}
.show-box section .info-table tr.footer td a, .show-box section .info-table tr.footer td button {
    margin: 5px;
}
.show-box .info-table tr:not(.footer) td a {
    text-decoration: none;
    color: #333;
}
.show-box .info-table tr:not(.footer) td a:hover {
    text-decoration: underline;
}
/* DETAILS-TABLE */

.show-box .details-table {
    border-collapse: collapse;
    width: 100%;
}
.show-box .details-table th {
    font: bold 12px 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #ff5a00;
    padding: 5px;
    border: 1px solid #cd5214;
    white-space: nowrap;
}
.show-box .details-table tr.header {
    font: 12px "Courier New", Monospace;
    color: #333;
    background-color: #f4f4f4;
    border: none;
}
.show-box .details-table tr.header:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}
.show-box .details-table tr.header.no-slide {
    cursor: auto;
}

.show-box .details-table tr.header td {
    padding: 5px;
    border: 1px solid #fefefe;
    border-bottom: none;
}
.show-box .details-table tr.content div.content {
    display: none;
    margin-bottom: 20px;
}
.show-box .details-table tr.content > td {
    padding: 0;
}
.show-box .details-table tr.summary {
    font-weight: bold;
}
.show-box .details-table td.num {
    width: 2rem;
}
.show-box .details-table .td-left {
    text-align: left;
}
.show-box .details-table .td-center {
    text-align: center;
}
.show-box .details-table .td-right {
    text-align: right;
}
.show-box .sub-header th {
    background-color: #f4f4f4;
    border: 1px solid #adadad;
    color: #333;
}

@media screen and (min-width: 1200px) {
    .show-box h1 label {
        font-size: 25px;
    }
    .show-box section .info-table td:first-child {
        font-size: 15px;
        padding: 6px;
    }
    .show-box section .info-table td:last-child {
        font-size: 15px;
        padding: 6px;
    }
    .show-box section .info-table tr.footer td {
        height: 40px;
    }
    .show-box section .info-table tr.footer td a, .show-box section .info-table tr.footer td button {
        margin: 7px;
    }

    .show-box .details-table th {
        font-size: 15px;
    }
    .show-box .details-table tr.header {
        font-size: 14px;
    }
    .show-box .details-table .info-table .details-sub-table tr.header td {
        font-size: 15px;
    }

}